<!-- HEADER de la vista COBERTURA -->
<app-header-modules [moduleTitle]="'política de privacidad'" [btnBack]="true"></app-header-modules>


<ion-content class="ion-padding">
  <div>
      <div style="text-align: center;background:#e9ecef;" >
        <h1>POLÍTICA DE PRIVACIDAD</h1>
        <h4>APLICACIÓN {{APP_NAME}}</h4>
      </div>
  
      <p>Última actualización: 28 de abril de 2022</p>
      <p>De conformidad con el Reglamento (UE) 2016/679, del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos (Reglamento General de Protección de Datos - RGPD), SALESLAND, S.L, informa a los usuarios de la aplicación {{APP_NAME}} (en adelante, la Aplicación), acerca del tratamiento de los datos personales, que ellos voluntariamente hayan facilitado durante el proceso de registro, acceso y utilización del servicio.</p>
  
      <h4>1. IDENTIFICACIÓN DEL RESPONSABLE DEL TRATAMIENTO.</h4>
      <p>SALESLAND, S.L, con CIF. Número: B-82738675 y Dirección postal: C/ Albasanz, 46. 28037. Madrid, el Grupo SALESLAND ha designado la figura del Delegado de Protección de Datos o DPO ("Data Protection Officer"), que es el responsable que vela por el cumplimiento de la normativa de protección de datos en el Grupo empresarial: dpo@salesland.net, esta figura
      es responsable del tratamiento de los datos facilitados por los clientes de la Aplicación (en adelante, el/los Usuario/s).</p>
  
      <h4>2. FINALIDAD DEL TRATAMIENTO DE DATOS.</h4>
      <p>La recogida, almacenamiento, modificación, estructuración y en su caso, eliminación, de los datos proporcionados por los
      Usuarios facilitados de forma voluntaria, constituirán operaciones de tratamiento llevadas a cabo por el Responsable, con la finalidad de garantizar el
      correcto funcionamiento de la Aplicación, mantener la relación de prestación de servicios y/o comercial con el Usuario, y
      para la gestión, administración, información, prestación y mejora del servicio. El tipo de información que recoge la aplicación
      y cómo la utiliza depende del uso de los servicios y cómo los usuarios administran los controles de privacidad.</p>
      <h5>Información creada o proporcionada por el usuario:</h5>
      <ul>
        <li><b>Información del usuario.</b> Información que la aplicación solicita al configurar la sesión como, por ejemplo, nombre de usuario y contraseña.
        Tener en cuenta que si el usuario proporciona información falsa, incorrecta u obsoleta, la capacidad de la aplicación para prestar los servicios y contactar
        con el usuario en caso sea necesario puede verse afectada. La aplicación indicará de forma explícita los campos que deben rellenarse de forma
        obligatoria. Si no introduce los datos solicitados en esos campos, no podrá configurar la sesión y ni usar la aplicación.</li>
  
        <li><b>Información que compartes con {{APP_NAME}}.</b>
        Señalar que la información que aceptas compartir con la aplicación {{APP_NAME}} es para su uso interno, es decir, no es una información que vaya a ser de dominio público,
        como por ejemplo:
                  <ul>
                      <li>Información de ubicación.
                      </li>
                      <li>Dirección de correo electrónico (opcional).
                      </li>
                      <li>Información sobre el dispositivo y la conexión (Potencia de la señal, versión de la aplicación, fecha, hora y zona horaria).
                      </li>
                      <li>Imagenes asociados a su actividad laboral del usuario.
                      </li>
                  </ul>
              </li>
      </ul>
  
      <h5>Información que recogemos cuando utilizas nuestros servicios:</h5>
      <p>Recogemos información sobre la actividad en los servicios de {{APP_NAME}}, que utilizamos para mejorar dichos servicios y proporcionar funciones que nos permiten personalizar la experiencia del usuario.
      Esto incluye, por ejemplo, ofrecer un sistema óptimo de asistencia, encuestas, notificaciones, indicadores y gestión de actividades en su horario laboral. A continuación, indicamos a detalle la información que podemos recoger sobre la actividad del usuario:</p>
      <ul>
        <li><b>Información de ubicación</b> La aplicación recoge en forma de señales GPS combinadas con una marca de tiempo la ubicación real del dispositivo móvil, según la configuración de precisión y la calidad de señal se obtiene la ubicación del dispositivo móvil
        en precisión aproximada o en alta precisión. La aplicación recoge la lista de aplicaciones activas que tienen permisos para editar la ubicación real durante la consulta de ubicación para garantizar la veracidad del registro de asistencia,
        La ubicación obtenida es gravada en el histórico de asistencias que determina el trayecto que ha realizado el usuario en su actividad laboral, {{APP_NAME}} puede recoger (o no) información sobre la ubicación,
        incluso cuando no utilizas la Aplicación, según el tipo de registro la asistencia que requiera obtener su última ubicación del usuario durante su actividad laboral.</li>
        <li><b>Información sobre el dispositivo y la conexión</b> La aplicación recoge la fecha y hora verificando la configuración de zona horaria sea automática y el estado de conexión de red para determinar el modo de registro online u offline.</li>
        <li><b>{{APP_NAME}} puede recoger (o no) la dirección de correo electrónico</b> La aplicación solicita el permiso para acceder a este dato de manera opcional con la finalidad gestionar el control de sesiones, en caso no sea aceptado la aplicación {{APP_NAME}} generará un código único UUID para identificar la sesión.</li>
        <li><b>Acceder a archivos para cargarlos en el servicio</b> El usuario determinara que imágenes forman parte de la evidencia su actividad laboral o son necesarios adjuntar en los registros realizados en la aplicación.</li>
      </ul>
  
      <h4>3. LEGITIMACIÓN.</h4>
      <p>El tratamiento de los datos del Usuario, se realiza con las siguientes bases jurídicas que legitiman el mismo:</p>
      <ul>
        <li>La solicitud de información y/o la contratación de los servicios de la Aplicación, cuyos términos y condiciones se
        pondrán a disposición del Usuario en todo caso, con carácter previo, para su expresa aceptación.</li>
        <li>El consentimiento libre, específico, informado e inequívoco del Usuario, poniendo a su disposición la presente política
        de privacidad, que deberá aceptar mediante una declaración o una clara acción afirmativa, como el marcado de una
        casilla dispuesta al efecto.</li>
      </ul>
      <p>En caso de que el Usuario no facilite a SALESLAND, S.L sus datos, o lo haga de forma errónea o incompleta, no será posible
      proceder al uso de la Aplicación.</p>
  
      <h4>4. CONSERVACIÓN DE LOS DATOS PERSONALES.</h4>
      <p>Los datos personales proporcionados por el Usuario, se conservarán en los sistemas y bases de datos del Responsable del
      Tratamiento, mientras aquél continúe haciendo uso de la Aplicación, y siempre que no solicite su supresión.
      Con el objetivo de depurar las posibles responsabilidades derivadas del tratamiento, los datos se conservarán por un período
      mínimo de cinco años.</p>
  
      <h4>5. DESTINATARIOS.</h4>
      <p>Los datos no se comunicarán a ningún tercero ajeno a SALESLAND, S.L, salvo obligación legal o en cualquier caso, previa
      solicitud del consentimiento del Usuario.
      De otra parte, SALESLAND, S.L podrá dar acceso o transmitir los datos personales facilitados por el Usuario, a terceros
      proveedores de servicios, con los que haya suscrito acuerdos de encargo de tratamiento de datos, y que únicamente accedan
      a dicha información para prestar un servicio en favor y por cuenta del Responsable.</p>
  
      <h4>6. RETENCIÓN DE DATOS.</h4>
      <p>SALESLAND, S.L, informa al Usuario de que, como prestador de servicio de alojamiento de datos y en virtud de lo
      establecido en la Ley 34/2002 de 11 de julio de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI),
      retiene por un período máximo de 12 meses la información imprescindible para identificar el origen de los datos alojados y el
      momento en que se inició la prestación del servicio.
      La retención de estos datos no afecta al secreto de las comunicaciones y sólo podrán ser utilizados en el marco de una
      investigación criminal o para la salvaguardia de la seguridad pública, poniéndose a disposición de los jueces y/o tribunales o
      del Ministerio que así los requiera.
      La comunicación de datos a las Fuerzas y Cuerpos de Seguridad del Estado, se hará en virtud de lo dispuesto por la normativa
      sobre protección de datos personales, y bajo el máximo respeto a la misma.</p>
  
      <h4>7. PROTECCIÓN DE LA INFORMACIÓN ALOJADA.</h4>
      <p>El Responsable del Tratamiento, adopta las medidas necesarias para garantizar la seguridad, integridad y confidencialidad de
      los datos conforme a lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de
      2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre
      circulación de los mismos.
      Si bien el Responsable, realiza copias de seguridad de los contenidos alojados en sus servidores, sin embargo no se
      responsabiliza de la pérdida o el borrado accidental de los datos por parte de los Usuarios. De igual manera, no garantiza la
      reposición total de los datos borrados por los Usuarios, ya que los citados datos podrían haber sido suprimidos y/o
      modificados durante el periodo de tiempo transcurrido desde la última copia de seguridad.
      Los servicios facilitados o prestados a través de la Aplicación, excepto los servicios específicos de backup, no incluyen la
      reposición de los contenidos conservados en las copias de seguridad realizadas por el Responsable del Tratamiento, cuando
      esta pérdida sea imputable al usuario; en este caso, se determinará una tarifa acorde a la complejidad y volumen de la
      recuperación, siempre previa aceptación del usuario. La reposición de datos borrados sólo está incluida en el precio del
      servicio cuando la pérdida del contenido sea debida a causas atribuibles al Responsable.</p>
  
      <h4>8. EJERCICIO DE DERECHOS.</h4>
      <p>Puedes a ejercitar tu derecho de información, acceso, rectificación, supresión, limitación del tratamiento, oposición, portabilidad
      y a no ser objeto de una decisión basada únicamente en el tratamiento automatizado. Recuerda que puedes retirar tu consentimiento
      prestado en cualquier momento.</p>
      <p>Para ejercer cualquiera de estos derechos puedes dirigirte a SALESLAND, S.L. en la dirección: C/ Albasanz 46. 28037. Madrid (España),
      o en el correo electrónico: rgpd@salesland.net. En ambos casos, deberás facilitar tu identidad acompañando fotocopia/escáner de tu DNI/NIE
      para poder acreditar que solo contestamos al propio interesado, salvo que te dirijas a nosotros a través del correo electrónico con el que
      te registraste.</p>
      <p>Asimismo, te informamos de que tienes derecho a presentar una reclamación ante nuestro Delegado de Protección de Datos (dpo@salesland.net)
      o ante la autoridad de control competente: Agencia Española de Protección de Datos (www.aepd.es), si consideras que se ha producido algún
      tipo de vulneración en relación con el tratamiento de tus datos personales.</p>
  
      <h4>9. COMUNICACIONES COMERCIALES POR VÍA ELECTRÓNICA.</h4>
      <p>En aplicación de la LSSI (Ley de Servicios de la Sociedad de la Información), SALESLAND, S.L, no enviará comunicaciones
      publicitarias o promocionales por correo electrónico u otro medio de comunicación electrónica equivalente que previamente
      no hubieran sido solicitadas o expresamente autorizadas por los destinatarios de las mismas.
      En el caso de usuarios con los que exista una relación contractual, jurídica o de servicios previa, el Responsable del
      Tratamiento, sí está autorizado al envío de comunicaciones comerciales referentes a productos o servicios del Responsable
      que sean similares a los que inicialmente fueron objeto de contratación con el cliente.</p>
  </div>

  <ion-button expand="block" style="--background: #06192b !important; color: #fff !important;" (click)="eventAcceptPolicy()">ACEPTAR</ion-button>
</ion-content>
