<ion-card class="aracne-card">
  <ion-card-content>
    <!-- Informacion -->
    <ion-text >
      <p class="row-information"><span><ion-icon class="icon" name="today"></ion-icon></span> {{localData.FechaReg}}</p>
      <p class="row-information"><span><ion-icon class="icon" name="briefcase"></ion-icon></span> {{localData.TipoAsistencia}}</p>
      <p class="row-information"><span><ion-icon class="icon" name="time"></ion-icon></span> {{onlyHour}}</p>
    </ion-text>
  </ion-card-content>
</ion-card>