app-splash {
    height: 100%;
}


ion-modal.camaraModal {
    padding: 10px;
    --height: 330px;
    --border-radius: 4px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
ion-modal.camaraModal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}
