<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCf9xBapNQjmWSCXd6LcTjZQ6qH2C0Yi74</string>
	<key>GCM_SENDER_ID</key>
	<string>841191927350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aracnereport.aracne3</string>
	<key>PROJECT_ID</key>
	<string>aracne</string>
	<key>STORAGE_BUCKET</key>
	<string>aracne.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841191927350:ios:8e1d3811233223c73b7297</string>
	<key>DATABASE_URL</key>
	<string>https://aracne.firebaseio.com</string>
</dict>
</plist>